*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(61,61,61);
    height: 100vh;
    width: 100%;
}

/*header design*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(253, 253, 253);
    height: 70px;
    box-shadow: 0px 4px 6px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

/* navigation design */
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}

nav .big{
    display: flex;
    list-style: none;
}


nav .big li{
    list-style: none;
    display: inline-block;
    margin: 0px;
}

nav .big li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: poppins;
    padding: 10px 16px;
    transition: .3s;
    text-transform: uppercase;
}


/* hurbergar icon */
nav .small{
    display: none;
    font-size: 20px;
}

a:hover{
    background: rgb(165, 228, 253);
    border-radius: 20px;
    border: none;
}

/* active effects design */
.active{
    background: rgb(170, 237, 253);
    border-radius: 20px;
}

/* logo picture */
.logo{
    border-radius: 50%;
}

.small {
    position: relative;
    display: inline-block;
}


/* menu effects for max-width of 500px */
.menu{
    height: 80vh;
    width: 100%;
    background: rgba(2, 57, 94, 0.932);
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    z-index: 1;
}

.menu img{
    left: 5%;
    top: 10%;
    position: absolute;
    padding: 5px;
    background: white;
    border-radius: 10px;
    border: none;
}

.big2{
    list-style: none;
    display: block;
}

.big2 li{
    list-style: none;
    display: block;
    margin: 10px;
}
  
.big2 li a{
    text-decoration: none;
    color: rgb(240, 232, 232);
    font-size: 15px;
    font-family: poppins;
    padding: 10px 16px;
    transition: .3s;
    text-transform: uppercase;
}

.big2 li a:hover{
    background: rgb(134, 193, 216);
    border-radius: 20px;
    border: none;
}



/* home page section designs */
.home{
    height: 113vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 3, 58, 0.61), rgba(4, 3, 58, 0.575)), url(icons/bck1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.message{
 position: absolute;
 top: 35%;
 left: 5%;
 color: white;
 max-width: 600px;
}

.message h2{
    font-family: poppins;
    font-size: 40px;
    max-width: 400px;
    color: rgb(51, 241, 255);
    line-height: 100%;
}

.message p{
    font-size: 20px;
}

.btn-casa{
    color: orangered;
    font-family: poppins;
    padding: 10px 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid skyblue;
    border-radius: 5px;
    border: none;
}





/* home links */
.follow1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 20px;
}

.follow1 a{
    background: none;
}

.follow1 i{
    
        padding: 6px;
        margin-right: 1px;
        font-size: 20px;
        color: rgb(51, 241, 255);
        border-radius: 3px;
        cursor: pointer;
        transition: transform 5000ms;
        text-decoration: none;
    
    
}

.follow1 i:hover{
    background: rgb(248, 249, 250);
}



/* about page section designs */
.about{
    height: auto;
    width: 100%;
    background: rgb(237, 246, 248);
    overflow: hidden;
    
}

.about h2{
    font-size: 30px;
    font-family: poppins;
    color: rgb(252, 251, 251);
    text-align: center;
    background: steelblue;
   
}

.container{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.box{
    width: 360px;
    height: 300px;
    padding: 10px 20px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.2);
    border-radius: 10px;
}

.box h3{
    color: orange;
    font-size: 25px;
    font-family: poppins;
    margin-bottom: 20px;
}

.box p{
    font-size: 20px;
}


/* our mission box2 */

.box2{
    width: 365px;
    height: 300px;
    padding: 10px 20px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.2);
    border-radius: 10px;
}

.box2 h3{
    color: orange;
    font-size: 25px;
    font-family: poppins;
    margin-bottom: 3px;
}

.box2 p{
    font-size: 17px;
}


/* our values box */

.box3{
    width: 360px;
    height: 300px;
    padding: 10px 20px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.2);
    border-radius: 10px;
}

.box3 h3{
    color: orange;
    font-size: 25px;
    font-family: poppins;
    margin-bottom: 5px;
}

.box3 p{
    font-size: 17px;
}

.more-btn{
    padding: 5px 10px;
    background: orange;
    font-family: poppins;
    color: white;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}


.more-btn:hover{
    opacity: 80%;
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.2);
}

/* sub more values */
.sub{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.show{
    max-width: 70%;
    background: white;
    height: 500px;
    padding: 20px;
    transition: .4s ease-in-out;
}

.show h3{
    color: orange;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: poppins;
    text-align: center;
}

.show p{
    font-size: 20px;
    color: black;
    padding: 5px 20px;
}


.error{
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 5px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.error:hover{
    background: rgb(221, 216, 216);
}

/* show1 for box2 mission */

.more-btn{
    padding: 5px 10px;
    background: orange;
    font-family: poppins;
    color: white;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}


.more-btn:hover{
    opacity: 80%;
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.2);
}

/* sub more mission */
.sub1{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.show1{
    max-width: 70%;
    background: white;
    height: 500px;
    padding: 20px;
    transition: .4s ease-in-out;
}

.show1 h3{
    color: orange;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: poppins;
    text-align: center;
}

.show1 p{
    font-size: 20px;
    color: black;
    padding: 5px 20px;
}


.error1{
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 5px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.error1:hover{
    background: rgb(221, 216, 216);
}

.more-btn1{
    padding: 5px 10px;
    background: orange;
    font-family: poppins;
    color: white;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}


.more-btn1:hover{
    opacity: 80%;
    box-shadow: 0px 3px 5px 0px rgb(0,0,0,0.2);
}


/* past presidents  text*/

.about h4{
    color: orange;
    font-family: poppins;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
}

/* card- past president profile*/

.card-past{
    max-width: 100%;
    padding: 10px;
    height: auto;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* pic-card box */
.pic-card{
    width: 300px;
    height: 200px;
    background: white;
    box-shadow: 0px 3px 6px 0px rgb(0,0,0,0.2);
    border-radius: 10px;
    border: none;
    padding: 6px;
}

.pic-card img{
   position: absolute;
   border-radius: 10px;
}


















/* services page section designs */
.services{
    height: auto;
    width: 100%;
    overflow: hidden;
    background: rgb(228, 252, 228);
}

.services h2{
    font-size: 30px;
    font-family: poppins;
    color: rgb(252, 251, 251);
    text-align: center;
    background: steelblue;
}

.services h4{
    font-size: 25px;
    font-family: poppins;
    color: orange;
    margin-top: 10px;
    margin-left: 50px;
}

/* church weekly programs / serv-container */
.serv-container{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* programs */
.programs{
    width: 300px;
    height: auto;
    background: white;
    border-radius: 10px;
    border: 1px solid rgb(0, 68, 255);
    border-bottom: 3px solid blue;
    box-shadow: 0px 3px 6px 0px rgb(0,0,0,0.2);
}

.programs h4{
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
}

.programs p{
    font-size: 18px;
    font-family: poppins;
    color: black;
    margin: 10px;
    padding: 0px 15px;
}

/* upcoming events */

.event{
    max-width: 90%;
    height: 400px;
    background-image: linear-gradient(rgba(13, 13, 151, 0.8), rgba(13, 13, 151, 0.8)), url(icons/bck1.jpg);
    margin: 20px 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.event h4{
    text-align: center;
}

/*this text can be updated with the upcoming event/programs */
.event p{
    color: white;
    font-family: poppins;
    margin-top: 30px;
    margin-left: 20px;
}







/* contact page section designs */
.contact{
    height: auto;
    width: 100%;
    background: rgb(217, 226, 253);
    overflow: hidden;
}

.contact h2{
    font-size: 30px;
    font-family: poppins;
    color: rgb(252, 251, 251);
    text-align: center;
    background: steelblue;
   
}


.contact h3{
    font-size: 30px;
    font-family: poppins;
    color: rgb(2, 2, 146);
    text-align: center;
    margin: 20px;
   
}


.contact-box{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contact-card{
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 7px 0px rgb(0,0,0,0.2);
    background: rgb(248, 248, 248);
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(0, 77, 128);
}

.contact-card h3{
    color: rgb(34, 3, 143);
    font-family: poppins;
    font-size: 22px;
    border-bottom: 2px solid gray;
    text-align: center;
    margin-top: 10px;
}

.box-details{
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(255, 254, 254);
    padding: 0px 20px;
    margin-bottom: 10px;
}

.box-details img{
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;

}

.box-details h6{
    font-size: 15px;
    font-family: poppins;
    position: absolute;
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 10px;
    color: blue;

}


.box-details p{
    position: absolute;
    margin-top: 37px;
    margin-left: 120px;
    font-size: 18px;
    margin-right: 10px;
    color: blue;
}


.social {
        margin-left: 50px;
        margin-top: 20px;  
}

.social p{
    font-family: poppins;
    margin-bottom: 10px;
}

.social i{
    padding: 05px;
    background: blue;
    color: white;
    border-radius: 50%;
    margin-bottom: 10px;
}


.social a:hover{
    background: none;
}




/* send message */

.contact-card2{
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 7px 0px rgb(0,0,0,0.2);
    background: rgb(248, 248, 248);
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(0, 77, 128);
}

.contact-card2:hover{
    transform: scale(1.01);
}

.contact-card2 h3{
    color: orangered;
    font-family: poppins;
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
}


form{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}



label{
    font-family:poppins;
    font-size: 15px;
    color: black;
    margin-bottom: 2px;
    display: block;
}

.input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background: rgb(238, 239, 240);
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 13px;
    font-family: poppins;
    padding: 2px 20px;
}

.input1{
   min-width: 100%;
    min-height: 90px;
    margin-bottom: 10px;
    background: rgb(238, 239, 240);
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 13px;
    font-family: poppins;
    padding: 2px 20px;
    margin-right: 5px;
    
}


.btn-send{
width: 60%;
height: 40px;
background: rgb(0, 162, 255);
color: white;
font-family: poppins;
margin: 0px 20%;
border: none;
border-radius: 20px;
cursor: pointer;
transition: .3s ease-in-out;
border-bottom: 2px solid rgb(10, 2, 116);
}

.btn-send:hover{
    opacity: 80%;
}








.map-box{
    max-width: 100%;
    margin: 10px;
    overflow: hidden;

}



/*footer section */
footer{
 
    width: 100%;
    height: auto;
    background: rgb(235, 236, 236);
}

.footer-inform{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
    gap: 20px 10px;
  
}

.values{
    width: auto;
    height: 170px;
    padding: 10px 20px;

}

.values h5{
    font-family: poppins;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

.values p{
    color: black;
    font-size: 18px;
    max-width: 300px;
}


.values1{
    width: auto;
    height: 170px;
    padding: 10px 20px;

}

.values1 h5{
    font-family: poppins;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

.values1 p{
    color: black;
    font-size: 18px;
    max-width: 300px;
}

.values2{
    width: auto;
    height: 170px;
    padding: 10px 20px;
   
    
}

.values2 h5{
    font-family: poppins;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

.values2 p{
    color: black;
    font-size: 18px;
    max-width: 300px;
}


footer i{
    color: red;
    margin-right: 5px;
}

.values1 p{
    margin-left: 5px;
}

.values1 a{
    text-decoration: none;
    color: black;
}

.values1 a:hover{
    background: none;
}

.values1 i{
    color: black;
    margin: 5px;
}

.values2 i{
    color: white;
    padding: 5px;
    background: blue;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
}

.values2 a:hover{
    background: none;
}












@media screen and (min-width:700px) and (max-width:1080px){
    .show1{
        max-width: 90%;
        height: 80vh;
    }


    .show1 p{
        font-size: 15px;
        padding: 5px 10px;
    }

    .box{
        width: 100%;
        height: auto;
    }

    .box2{
        width: 100%;
        height: auto;
    }

    .box3{
        width: 100%;
        height: auto;
    }
}


@media screen and (min-width:431px) and (max-width:700px){
    .box{
        width: 100%;
        height: auto;
    }

    .box2{
        width: 100%;
        height: auto;
    }

    .box3{
        width: 100%;
        height: auto;
    }

    .show1{
        max-width: 90%;
        height: auto;
    }


    .show1 p{
        font-size: 12px;
        padding: 5px 10px;
    }

 
}







/* max-width of 400px for about section */

@media(min-width:400px) and (max-width:430px){
    .about{
        height: auto;
    }

    .about h2{
        font-size: 20px;
        padding: 5px 15px;

    }

    .box{
        height: 200px;
    }


    .box h3{
        font-size: 20px;
    }

    
    .box p{
    font-size: 15px;
    }

    .box2{
        height: 230px;
    }

    .box2 h3{
        font-size: 20px;
    }

    
    .box2 p{
    font-size: 13px;
    }

    .box3{
    height: 230px;
    }

    .box3 h3{
    font-size: 20px;
}


    .box3 p{
    font-size: 13px;
    }










/* media screen max-width side dont touch this codes */
@media screen and (max-width:600px){
    nav .small{
        display: flex;
    }

    nav .big{
        display: none;
    }
}

}



@media(max-width:620px){
    
    nav .big{
        display: none;
    }

    nav .small{
        display: flex;
    }

 
    .home h2{
        font-size: 20px;
    }

    .message{
        max-width: 300px;
        top: 20%;
    }

    .message p{
        font-size: 17px;
    }
}





/*max-width of 550px */
@media screen and (max-width: 550px) {

    .home{
        height: 100vh;
    }

    .message{
     top: 25%;
    }

    .message p{
        font-size: 14px;
    }

    
    .home h2{
        font-size: 26px;
    }


    .btn-casa{
        margin-top: 10px;
    }

    .message h2{
        line-height: 100%;
        font-size: 32px;
        }

        .show{
            height: auto;
        }


        .show1{
            max-width: 90%;
            height: auto;
        }


        .show1 p{
            font-size: 12px;
            padding: 5px 10px;
        }

        .values{
            width: 100%;
            height: auto;
        }

        .values1{
            width: 100%;
            height: auto;
        }

        .values2{
            width: 100%;
            height: auto;
        }

      .more-btn{
        margin-top: 20px;
      }

      .more-btn1{
        margin-top: 20px;
      }



 }


/* max-with of 430px */
@media screen and (max-width: 430px) {

    .home{
        height: 90vh;
    }

    .message{
     top: 30%;
    }

    
    .home h2{
        font-size: 24px;
    }

    .btn-casa{
        margin-top: 10px;
    }

    .message p{
        font-size: 13px;
    }

    .contact h3{
        font-size: 25px;
    }

    /* icons */
    .box-details img{
        margin-left: 20px;
        width: 30px;
        height: 30px;
    }

    .box-details img{
        
    margin-top: 20px;
    }


    .box-details h6{
        margin-left: 80px;
    }

    .box-details p{
        margin-left: 80px;
    }


    .message h2{
        line-height: 100%;
        font-size: 30px;
        }

     
        .show1{
            max-width: 90%;
            height: auto;
        }


        .show1 p{
            font-size: 12px;
            padding: 5px 10px;
        }


        .more-btn{
            margin-top: 20px;
          }
    
          .more-btn1{
            margin-top: 20px;
          }


        
   
 }




 /* max-width 414 */
@media screen and (max-width: 414px) {
    .message{
     top: 30%;
    }
 
    .contact h3{
     font-size: 20px;
    }

    .message h2{
        line-height: 100%;
        font-size: 30px;
        }

    

        .show1{
            max-width: 90%;
            height: auto;
        }


        .show1 p{
            font-size: 12px;
            padding: 5px 10px;
        }

        .values{
            width: 100%;
            height: auto;
        }

        .values1{
            width: 100%;
            height: auto;
        }

        .values2{
            width: 100%;
            height: auto;
        }

      .more-btn{
        margin-top: 20px;
      }

      .more-btn1{
        margin-top: 20px;
      }

 }







 /*max-width of 375 px */
 @media screen and (max-width:375px){
    .contact h3{
        font-size: 20px;
    }

    .box-details img{
        margin-left: 0px;
        width: 30px;
        height: 30px;
    }

    .box-details h6{
        margin-left: 40px;
    }

    .box-details p{
        margin-left: 40px;
        font-size: 20px;
    }

    .social{
        margin-left: 15px;
        margin-top: 8px;
    }

    .message h2{
        line-height: 100%;
        }

        .show1{
            max-width: 90%;
            height: auto;
        }


        .show1 p{
            font-size: 12px;
            padding: 5px 10px;
        }
    
 }




/*max width of 320px for mobile */
 @media screen and (max-width:320px) {
        /* icons */
        .box-details img{
            margin-left: 0px;
            width: 30px;
            height: 30px;
        }
    
        .box-details img{
            
        margin-top: 20px;
        }
    
        .box-details h6{
            margin-left: 35px;
        }
    
        .box-details p{
            margin-left: 35px;
            font-size: 15px;
        }

        .social{
            margin-left: 20px;
        }

        .social p{
            font-size: 14px;
        }



        /* contact-card2 */

        .contact-card2 h3{
            font-size: 18px;
        }

        .value p{
            font-size: 13px;
        }

        .btn-send{
            font-size: 10px;
        }

        .input{
            font-size: 12px;
        }

        .input1{
            font-size: 12px;
        }

        .btn-send{
            width: 55%;
         

        }

        .message h2{
        line-height: 100%;
        }

        .box2 p{
            font-size: 16px;
        }

        .box3 p{
            font-size: 16px;
        }

        .show1{
            max-width: 90%;
            height: auto;
        }


        .show1 p{
            font-size: 12px;
            padding: 5px 10px;
        }

        .values{
            width: 100%;
            height: auto;
        }

        .values1{
            width: 100%;
            height: auto;
        }

        .values2{
            width: 100%;
            height: auto;
        }

        
      .more-btn1{
        margin-top: 10px;
      }

     
 }



 
